/*
  此文件是由模板文件 ".dtpl/component/$rawModuleName.$style.dtpl" 生成的，你可以自行修改模板

  注意：文件为空，编译时不会生成新文件
*/
.container{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
}

ec-canvas {
  width: 100%;
  height: 50%;
}
