/**
 * Created by Cphayim at 2018-07-27 15:51
 * => /src/assets/styles/config/variable.scss
 */

@import './functions.scss';

// =============================================
$c_p: #54b4ef;          // 主色
$c_bg: #f2f2f2;         // 背景色
$c_border: #d3d3d3;     // 边框色
$c_f1: #333;            // 标题色
$c_f2: #666;            // 内容色
$c_f3: #999;            // 标注色
// =============================================
$f_normal: r(20);
