# Auto detect text files and perform LF normalization
* 			text=auto
*.md		text
*.sh		text eol=lf
*.py		text eol=lf
*.js* 		text eol=lf linguist-language=TypeScript
*.ts*		text eol=lf
*.scss		text eol=lf
