/**
 * navigation-bar 组件样式
 * Create by Cphayim at 2018-04-03 23:09
 */

@import '../../../styles/style-config.scss';
.m-navigation-bar {
  &.bb{
    border-bottom: r(2) solid $c_b;
  }
}

.status-bar {}

.navigation-bar {
  position: relative;
  display: flex;
  align-items: center;
  .back-btn {}
  .title {
    font-weight: 800;
  }
}

.ios {
  .navigation-bar {
    .back-btn {
      position: absolute;
    }
    .title {
      flex: 1;
      text-align: center;
    }
  }
}

.android {}