/**
 * navigation-bar 组件样式
 * Create by Cphayim at 2018-04-03 23:09
 */

@import '../../../assets/styles/helper.scss';
.m-navigation-bar {
  &.bb {
    border-bottom: r(2) solid #d4d4d4;
  }
}

/**
 * 基础样式
 */

.status-bar {}

.navigation-bar {
  position: relative;
  display: flex;
  align-items: center;
  padding: 0 r(25);
  .title {
    width: r(400);
    font-weight: 500;
    @include text-clip-single();
  }
}

/*
 * 主题差异样式
 */

.dark {
  color: #000;
}

.light {
  color: #fff;
}

/*
 * 平台差异化样式
 */

.ios {
  .back-btn {
    position: absolute;
    top: 50%;
    left: r(25);
    width: width('./icons/back-ios-dark.png');
    height: height('./icons/back-ios-dark.png');
    transform: translateY(-50%);
  }
  .title {
    flex: 1;
    text-align: center;
  }
  &.dark {
    .back-btn {
      @include image(data('./icons/back-ios-dark.png'));
      /* iPhone 4, iPhone 5, iPhone 6, iPhone 7, iPhone 8 */
      @media (-webkit-min-device-pixel-ratio: 2) {
        @include image(data('./icons/back-ios-dark@2x.png'));
      }
      /* iPhone 6 Plus, iPhone 7 Plus, iPhone 8 Plus, iPhone X */
      @media (-webkit-min-device-pixel-ratio: 3) {
        @include image(data('./icons/back-ios-dark@3x.png'));
      }
    }
  }
  &.light {
    .back-btn {
      @include image(data('./icons/back-ios-light.png'));
      /* iPhone 4, iPhone 5, iPhone 6, iPhone 7, iPhone 8 */
      @media (-webkit-min-device-pixel-ratio: 2) {
        @include image(data('./icons/back-ios-light@2x.png'));
      }
      /* iPhone 6 Plus, iPhone 7 Plus, iPhone 8 Plus, iPhone X */
      @media (-webkit-min-device-pixel-ratio: 3) {
        @include image(data('./icons/back-ios-light@3x.png'));
      }
    }
  }
}

.android {
  .back-btn {
    margin-right: r(25);
    flex: 0 0 auto;
    width: width('./icons/back-android-dark.png');
    height: height('./icons/back-android-dark.png');
  }
  .title {
    flex: 1;
  }
  &.dark{
    .back-btn {
      @include image(data('./icons/back-android-dark.png'));
    }
  }
  &.light{
    .back-btn {
      @include image(data('./icons/back-android-light.png'));
    }
  }
}
